body{
    background-color:#aad4cf ;
}

.wrapper{
    margin: 100px auto ;
    width: 1000px;
    background-color:#dcecea;
    
}

h1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    position: absolute;
    top: 35%;
    right: 3%;
    width: 100%;
    text-align: center;
}
nav ul {
    list-style: none;
    display: flex;
    
}
nav ul li {
    width: 30%;
    display: inline;
    margin-right: 30px;
    border-left: solid;
    
    }
.starfish{
    float: left;
    margin: 3px;

}
p{
    text-align: justify;
    font-size: 17px;
    
}
     div{
        width: 320px;
        padding: 5px;
        border: 2px;
        margin: 0;
    }  
    /* created a class for the form in order to add a box arounf the form */
.contactbox{
    border-style: solid;
    border-width: 1px;
    width: auto;
    height: auto;
}
li a{ 
    text-decoration: none;
    color: black;
}
.float {
    float: left;
    width: 25%;

} 


footer{
    text-align:right;
}