body{
    background-color:#aad4cf ;
}
 /* adds the id as the wrapper to specifiy it */
.wrapper{
    margin: 100px auto ;
    width: 1000px;
    background-color:#dcecea;
    
}
/* made the h2 text align center with right 3% so its perfecrtly centered and top 35%  */
h1{
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    position: absolute;
    top: 35%;
    right: 3%;
    width: 100%;
    text-align: center;
}
h1,h2,h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav ul {
    list-style: none;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    
}
/* adds the width of 30% for each nav in order to spread them which makes the nav in the same line with a space in between */
nav ul li {
    width: 30%;
    display: inline;
    margin-right: 30px;
    border-left: solid;
    
    
    }
    /* adds the id of the image to css in order to speacify it only.  */
.starfish{
    float: left;
    margin: 3px;

}
/* made the image float to the left with a margin of 3px so the text can fit around the image well and increaed the size of the font in the paragraph so it wraps around the image perfectly */
.float {
    float: left;
    width: 25%;

} 
.factlist{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 16px;
    
}
     div{
        width: 320px;
        padding: 5px;
        border: 2px;
        margin: 0;
    }  
    /* created a class for the form in order to add a box arounf the form */
    /* created the box with auto width and height so it fits accordinf to the form and added a 1px border width since its thinner and similar   */
.contactbox{
    border-style: solid;
    border-width: 1px;
    width: auto;
    height: auto;
}
li a{ 
    text-decoration: none;
    color: black;
}

/* made the footer p set to the right of the page */
footer p {
    text-align: right;
}