/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
	
}
/* adds a max width so all the content inside it fits under 1200px */
.wrapper-1{
	max-width: 1200px;
    margin: 0 auto;
	
}
.img-container{
    background-color:#c78c06;
	padding-top: 10px;
	border:#222 solid 10px;
	
}
.container{
    background-color:#222 ;
	padding: 4px;
}
nav a{
    color:#c78c06;
	text-decoration: none;
}
/* adds display inline to align nav horizontally */
nav ul li{
	display: inline;
	display: flex;
	font-size: 18px;
	margin: 30px;
	padding-left:250px;
	text-align: center;
	border-right: 1px ;
}
#banner{
	margin: auto;
	max-width:  100%;
	height: auto;
}
.heading{
	position: absolute;
	left: 20%;
	text-align: start;
	font-size: 45px;
	font-weight: bold;
	color: white;
	display:inline-block;
}
.banner-conatiner{
	max-width:fit-content;
	position: relative;
    margin: 0 auto;
}
.header{
	display: inline-block;
    vertical-align: top;
	
}
.banner-p{
	position:absolute;
	top: 500px;
	margin:auto;
	height: auto;
	color: white;
	font-size:20px;
	background-image: url("images/main-banner.jpg") ;
	background-color: rgba(0, 0, 0, 0.6);
	/* reduced the opacity 0.6 of the black so its transparent on the image */
	max-width: 1200px;
    padding-bottom: 80px;
	text-align:start;
	display: block;
}
.banner-p p{
	text-align: center;
	top: 30%;
	padding-top: 100px;
}
.aboutus{
	background-color:  #ffe6ac;
	width: 100%;
	height: auto;
	padding: 10px;
} 
/* giving the search bar a size so it fits the width */
.search{
	width: 90%;
}
#image-2{
	display: flex;
	align-items: center;
	width:100%;
	height: 100%;
}
h2{
	font-weight: bold;
	font-size: 44px;
	padding: 10px;
}
h3{
	padding: 10px;
}
h5{
	padding: 10px;
}
    /* style for the hr line in html */
hr.style-1{
	border-top: 2px solid #c78c06;
}
.digital-t{
	background-color: #ffe6ac;
	max-width: 100%;
	height: auto;
	padding-bottom: 10px;
}
.grid{
	/* display: grid; */
	display: block;
	grid-gap: 15px ;
}
.button1{
	background-color:#c78c06;
	color:#222;
	padding: 20px 40px;
	text-align: center;
	position:relative;
	font-size: 16px;
	display: flex;
	padding-left: 5%;
}
    /* adding color and sizing the buttons at once */
.button2, .button3, .button4,.button5,.button6{
	background-color: #222;
	color: white;
	padding: 20px 40px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	padding-left: 10px;
	border-style: none;
	padding-left: 5%;
}
.button7{
	background-color: rgba(0, 0, 0, 0.4);
	border: 4px ;
	border-color: #c78c06;
    color: white;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
.send{
	background-color: #222;
	color: #c78c06;
}
.marketing{
	background-color: #ffe6ac;
	max-width: 100%;
	height: auto;
	padding-bottom: 10px;
}
#image-3,#image-4,#image-5,#image-6,#image-7,#image-8,#image-9{
	display: block;
	width: 100%;
	max-width: 100%;
	height: 100%;
}
    /* added 10px padding so the text is centered  */
p{
	padding: 10px;
	font-size: 17px;
}
.video{
	background-color: #ffe6ac;
	max-width: 100%;
	height: auto;
	padding-bottom: 10px;
}
.web{
	background-color: #ffe6ac;
	max-width: 100%;
	height: auto;
	padding-bottom: 10px;
}
.Print{
	background-color: #ffe6ac;
	max-width: 100%;
	height: auto;
	padding-bottom: 10px;
}
    /* bleed */
.vision-bleed{
	 background-size: cover;
	 background-position: center; 
	 background-image: url(../images/vision.jpg);
}
/* using position absolute to place the texts on top of the image */
.wrapper{
	color: white;
	text-align:start;
}
#vision-header{
	font-size: 30px;
}
.john-container{
	background-color: #ffe6ac;
	max-width: 100%;
	height: auto;
}
.bob-container{
	background-color: #ffe6ac;
	max-width: 100%;
	height: auto;
}
.vision{
	height: 550px;
}
h3{
	font-weight: bold;
	font-size: 2rem;
}
/* font weight to make font bolder */
h5{
	font-weight:600;
}
/* gives a 100 width to the text area in th form  */
textarea{
	width: 95%;
}
table, th, td {
	border: 1px solid;
	padding: 20px 40px;
}
.Hours{
	width: 95%;
}
    /* adding color only to two coloums in the table by specifiying it in a class */
.days{
	background-color: #ffe6ac;
}
iframe{
	border: 0;
    width: 500px;
    height: 250px;
}
footer{
	background-color: #222;
	color:#c78c06;
	padding: 20px 50px;
	text-align: start;
}
@media screen and (min-width: 760px){
.img-container{
		background-color:#222;	
		padding: 20px 50px;
		max-width: 100%;
}
.container{
	padding: 0;
}
/* removes color by using transparent */
.img-container{
	float: left;
	background-color: transparent;
}
.logo{
	float: left;
}
nav ul li{
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	padding-bottom: 50px;

}
/* adds padding so its centered */
.home-nav{
	padding: 15px 15px 15px;
	background-color: #c78c06;
	color: black;
}
nav a{
     padding-top: 30px;
}
.banner{
	max-width: 100%;
}
.search{
	width: 15%;
	right: 7%;
	float: right;
}
.aboutus{
	background-color: #ffe6ac;
	/* width: 100%; */
	height: auto;
	padding: 10px;
	clear: left;
}
.button2, .button3, .button4,.button5,.button6{
	text-align: center;
	position: relative;
	left: 30%; 
}
#image-2{
	float: left;
	clear: both;
}
/* specifiying all the images at once  */
#image-3,#image-4,#image-5,#image-6,#image-7,#image-8,#image-9{
    width:600px;
	height: 250px;
}
/* creates a 6 grid column so the 5 containers fit in it */
.grid{
	display: grid;
	width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "a a a b b b"
    "c c d d e e";
}
/* adds with to the wrappers so the images can fit to its content */
.digital-t{
	grid-area: a;
	text-align:start;
	width: 600px;
	height: 500px;
	
}
.marketing{
	grid-area: b;
	text-align:start;
	width: 600px;
	height: 500px;
}
.video{
	grid-area: c ;
	text-align:start;
	width: 400px;
	height: 500px;
}
.web{
	grid-area: d ;
	text-align:start;
	width: 400px;
	height: 500px;
}
.Print{
	grid-area: e ;
	text-align:start;
	width: 400px;
	height: 500px;
}
.vision{
	background-image: url(images/vision.jpg);
	height: 500px;
	max-width: max-content;
	background-position: center;
	margin-left: 0%;
	
}
/* using flex box to alighn the containers in center */
.flexbox{
	display: flex;
	align-items: center;
	width:fit-content;
}
.text-1{
	flex-grow: 1;
}
/* creates grid with two rows to aligh the loction form and table  */
.conatiner-3{
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
    grid-template-rows: 1fr 1fr;
	display: grid;
	width:fit-content;
	align-items: stretch;
}
.contact-f{
	display: grid;
	grid-column: 1/span 2;
    grid-row: 1;
	width: fit-content;
}
.contactus{
	display: grid;
	width: 500px;
	grid-column: 1/span 2;
	grid-row: 2;
}
div textarea  {
	width: 500px;
}
.Hours{
	grid-column: 1/2;
	grid-row: 2/ span 1;
	width: 500px;
}
table{
	width: 100%;
}
.map{
	display: grid;
	grid-column: 2/ span 2;
	grid-row: 1;
	
}
footer{
	max-width: 100%;
}
}