/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: 'Open Sans', sans-serif;

}
.container-all{
	max-width: 1200px;
    margin: 0 auto;
}
.img-container{
    background-color:#c78c06;
    
}
.container{
    background-color:#222 ;
	padding: 4px;
}
nav a{
    color:#c78c06;
	text-decoration: none;
}
.home-nav{
	/* padding-top: 10%; */
}
nav ul li{
	display: inline;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	margin: 30px;
	padding-left:250px;
	text-align: center;
	border-right: 1px ;
}
#banner{
	
	margin: auto;
	max-width:  100%;
	height: auto;
	
}
.heading{
	position: absolute;
	/* top: 80%; */
	left: 20%;
	text-align: start;
	font-size: 40px;
	font-weight: bold;
	color: white;
	display:inline-block;
	/* padding: 100px; */
}
.banner-conatiner{
	max-width:fit-content;
	position: relative;
    margin: 0 auto;
	
}
.header{
	display: inline-block;
    vertical-align: top;
	
}
.banner-p{
	position:absolute;
	top: 100%;
	bottom: 90%;
	margin:auto;
	height: auto;
	color: white;
	font-size:20px;
	/* padding: 150px; */
	background-image: url("images/main-banner.jpg") ;
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 1200px;
    padding-bottom: 300px;
	text-align:end;
}
.banner-p p{
	text-align: center;
	top: 30%;
	padding-top: 100px;
}
.aboutus{
	background-color:  #ffe6ac;
	max-width: 100%;
	height: auto;
	padding: 10px;

} 

.search{
	width: 95%;
	position: relative;
	display: flex;
}
#image-2{
	display: flex;
	align-items: center;
	width:100%;
	height: 100%;
}
h2{
	font-weight: bold;
	font-size: 34px;
	padding: 10px;
}
h3{
	padding: 10px;
}
h5{
	padding: 10px;
}
/* style for the hr line in html */
hr.style-1{
	border-top: 2px solid #c78c06;
}
.digital-t{
	background-color: #ffe6ac;
	max-width: 100%;
	height: auto;
	padding-bottom: 10px;
}
.grid{
	/* display: grid; */
	display: block;
	grid-gap: 15px ;
}
.button1{
	background-color:#c78c06;
	color:black;
	padding: 20px 40px;
	text-align: center;
	position:relative;
	font-size: 16px;
	display: flex;
	padding-left: 5%;
	

}
/* adding color and sizing the buttons at once */
.button2, .button3, .button4,.button5,.button6{
	background-color: #222;
	color: white;
	padding: 20px 40px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	padding-left: 10px;
	border-style: none;
	padding-left: 5%;
	
}
.button7{
	background-color: rgba(0, 0, 0, 0.4);
	border: 4px ;
	border-color: #c78c06;
    color: white;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
	
.send{
	background-color: #222;
	color: #c78c06;
}
.marketing{
	background-color: #ffe6ac;
	max-width: 100%;
	height: auto;
	padding-bottom: 10px;
}
#image-3,#image-4,#image-5,#image-6,#image-7,#image-8,#image-9{
	display: block;
	width: 100%;
	max-width: 100%;
	height: 100%;
}
p{
	padding: 10px;
}
.video{
	background-color: #ffe6ac;
	max-width: 100%;
	height: auto;
	padding-bottom: 10px;

}
.web{
	background-color: #ffe6ac;
	max-width: 100%;
	height: auto;
	padding-bottom: 10px;
}

.Print{
	background-color: #ffe6ac;
	max-width: 100%;
	height: auto;
	padding-bottom: 10px;
}
.vision{
	max-width: 1200px;
	height:min-content;
	margin-left: auto;
	margin-right: auto;
	position: relative;
    text-align: center;
    color: white;
}
.vision-text{
	position: absolute;
    top: 80px;
    left: 16px;
	text-align:start;
}
.john-container{
	background-color: #ffe6ac;
	max-width: 100%;
	height: auto;
}
.bob-container{
	background-color: #ffe6ac;
	max-width: 100%;
	height: auto;
}
.wrapper{
	width: 100vw;
    margin-left: calc(50% - 50vw);
	height: 70%;
}
h3{
	font-weight: bold;
	font-size: 24px;
}
h5{
	font-weight:600;
}
table, th, td {
	border: 1px solid;
	padding: 20px 40px;
	width: 500px;
}
.days{
	background-color: #ffe6ac;
}
iframe{
	border: 0;
    width: 500px;
    height: 250px;
}
footer{
	background-color: #222;
	color:#c78c06;
	padding: 20px 50px;
	text-align: start;
}
@media screen and (min-width: 760px){
	.img-container{
		background-color:#222;	
		padding: 20px 50px;
		max-width: 100%;
}
.container{
    /* background-color:transparent ; */
	
	padding: 0;
	/* float: right; */
}
.img-container{
	float: left;
	background-color: transparent;
}
.logo{
	float: left;
	
}
.fa-fa-search{
    display: flex;
}
nav ul li{
	/* display: inline;
    padding: 40px; */
	/* float: left; */
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	padding-bottom: 50px;

}
.home-nav{
	padding: 15px 15px 15px;
	background-color: #c78c06;
	color: black;
}
nav a{
     padding-top: 30px;
}
.search{
	width: 15%;
	/* position: relative; */
	right: 7%;
	/* display: inline-block; */
	float: right;
	
	
  /* padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
} */
}
/* .container-all{
	max-width: 1500px;;
    margin: 0 auto;
} */
.aboutus{
	background-color: #ffe6ac;
	width: 100%;
	height: auto;
	padding: 10px;
}
#image-3,#image-4,#image-5,#image-6,#image-7,#image-8,#image-9{
/* display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr; */
display:grid;
/* grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr); */
max-width: 100%;

 
}
.grid{
	/* display: flex;
 flex-wrap: wrap; */
 /* display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr; */
 /* display:grid;
 grid-template-columns: auto autoS;
 grid-template-rows: auto; */
  /* display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  width: 100%; */
    /* grid-template-columns: 1fr 1fr 1fr; */
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
    grid-template-rows: 1fr 1fr;
	display: grid;
	width: auto;
}
.digital-t{
	display: grid;
	grid-column: 1 / span 1;
	width: 500px;
}
/* .digital-t,.marketing{
	display: grid;
}
.video,.web,.Print{
	display: grid;
	grid-row: 2/3;
}
.grid .digital-t{
	grid-column: span 1/3;
	grid-row: 1/2; */
	/* grid-row: 1 / 2;
	grid-column: 3/ 4; */
	/* grid-column-start: 1;
	grid-column-end: 3; */

.marketing{
	display: grid;
	grid-column: 2 / span 1;
	grid-row: 1/ span 1;
	width: 500px;
	/* grid-column: 3/6;
	grid-row: 1 / 2; */
  /* grid-column: 4 / 6;  */
    /* grid-column-start: 4;
	grid-column-end: 5; */
	/* grid-row: 1; */
}
.video{
     display: grid;
	 grid-column: 1 / span 1;
	 grid-row: 2 / span 1;
	 width: 400px;
	/* grid-column-start: 1;
	grid-column-end: 2; */
}
.web{
	display: grid;
	grid-column: 2 / span 1;
	grid-row: 2 / span 3;
	width: 400px;
}
.Print{
	display: grid;
	grid-column: 2 / span 1;
	grid-row: 2 /span 1 ;
	width: 400px;
}
.wrapper{
	/* max-width: fit-content;
	width: 100vw; */
	/* margin-left:0; */
	/* width: 1500px;
	height: 400px;
	margin-left: calc(0);
} */

}
.flexbox{
	display: flex;
	align-items: center;
}
.text-1{
	flex-grow: 1;

}
.flex-conatiner{
	display: grid;
	align-items:center;
}
.contact-f{
	display: flex;
	grid-template-columns: span 1;
	flex-grow: 1;
}
/* .Hours{
	display: flex;
	
} */
}
